.navbar-name{
    font-family: "Josefin Sans", sans-serif;
    font-size: 23px;
    margin-left: px;
}

@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css')

header .p-3{
    color: black;
}

 .nav{
    font-family: "Mukta", sans-serif;
    
}

.hero-section{
    background-image: url(sunsetTrainBg_11zon.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

i{
    font-size: 18px;
}

.input-form{
    background-color: white;
    padding: 3rem;
    
    border: 2px solid grey 
    ;
    border-radius: 32px;
    font-family: "Mukta", sans-serif;
    margin-top: 10rem;
    

}

.container .input-form{
    margin-bottom: 10rem;
}


.inner-input-form{
    border: 1px  black;
    padding: 0rem;
    border-radius: 32px;
}

.input-form h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    

}

.display-5{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 2px 2px black;
    padding: 10px;
    font-size: 55px;
}

.h1-suggest{
    font-size: 42px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;

}

.card-img-top{
    transition: transform 0.3s ease;
    border-radius: 12px;
}

img:hover{
    transform: scale(1.05);
}

.travel-card{
    border-radius: 12px;
    background-color: #141414;
    border: transparent;
    
}


.card-row2{
    margin-top: 2rem;
}

.card-title{
    font-size: 22px;
    color: whitesmoke;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;


}


#travel-sugg{
    margin-top: 3rem;
}

.card-head{
    margin-bottom: 8rem;
}

.h1-suggest{
}

.card-head .p-suggest{
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    margin-top: 2rem;
    font-weight: bold;

}

.head-suggest{
    background-image:radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
    -webkit-background-clip: text;
    color: transparent;

}

.card-text{
    color: #E2DFD2;
    font-family: "Josefin Sans", sans-serif;
    

}

.card-body .card-title:hover{
    background-image:radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
    -webkit-background-clip: text;
    color: transparent;
    transition: ease-in-out,0.5s;
}

.popular-travels{
    background-color:#E2DFD2;
    padding: 30px;
    margin-top: 5rem;
    border-radius: 32px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.text{
    font-size: 12px;
    font-weight: bold;
    font-family: "Mukta", sans-serif;

}

.pricing-card-title{
    color: black;
}

.link-button:hover{
    color: white;
}

.display-6{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    background-image:radial-gradient(circle at 10% 20%, rgb(255, 19, 120) 0%, rgb(0, 0, 0) 90.5%);
    -webkit-background-clip: text;
    margin-bottom: 3rem;

    color: transparent;

}

.fw-normal{
    font-family: "Josefin Sans", sans-serif;
    font-size: px;
}

.premium-head{
}

.premium-container{
    margin-top: 5rem;
}

.premium{
    margin-top: 10rem;
}

.explore-more{
    background-color: #141414;
    padding: 1rem;
    padding-bottom: 4rem;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.pnr-status{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Mukta", sans-serif;

}

.pnr-a:hover{
    color: white;
    transition: ease-in-out,0.3s;
}

.pnr-div{
    width: 50px;
}

.new-badge{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.ticket-icon{
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    -webkit-background-clip: text;
    color: transparent;
}


.food-a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Mukta", sans-serif;
}   

.food-a:hover{
    color: white;
}

.text-search{
    font-family: "Mukta", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.supporting-text{
    text-align: center;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;

}

.neswp-carousel {
    width: 100%; 
    overflow: hidden;
    background-color: white;
}

.carousel-new{
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.carousel-track {
    display: flex; 
    width: max-content; 
    animation: scroll 30s linear infinite; 
}

.carousel-way{
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}


@keyframes slide{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

.logo img{
    width: 150px;
    margin: 0 20px; 
}


@keyframes scroll {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-50%); 
    }
}

.newsp-carousel::before,
.newsp-carousel::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20%; 
    height: 100%;
    z-index: 1;
    pointer-events: none; 
}


.newsp-carousel::before{
    left: 0;
    background: linear-gradient(to left,rgba(255,255,255,0),white);
}

.newsp-carousel::after{
    right: 0;
    background: linear-gradient(to right,rgba(255,255,255,0),white);

}


.rev-name{
    font-size: 15px;
}

.icon-container{
    color: rgb(255, 166, 0);
}

.black-container{
    background-color: #E2DFD2;
    padding: 80px;
    padding-bottom: 4rem;
    border-radius: 32px;
    margin-right: px;
    margin-top: 5rem;
}

.footer-container{
    margin-top: 5rem;
    background-color: #141414;
    padding: 80px;
    padding-bottom: 0;
    border-radius: 32px;
    margin-right: px;
    
}   

.footer-container h5{
    color: white;
    font-size: 15px;
}

.feature-head{
    font-size: 32px;
    text-align: center;
}


.feature-container{
    background-color: #141414;
    color: white;
    border-radius: 32px;
}

.feature-span{
    font-weight: bolder;
    position: relative;
}

.feature-span:after{
    content: '';
    position: absolute;
    background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    bottom: 0;
    left: 0;
    width: 80%;
    height: 4px;
}

.feature-text{
    color:#acacac;
}


.ticket-icon:hover{
    background-image: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s,ease-in-out;
}   

.end-text{
    font-size: 2.5rem;
    color: #777777;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
}

.end-footer-text{
    font-size: 2rem;
    color: #acacac;
    font-stretch:expanded;
    font-style: italic;
    font-weight: bold;
}

.credit-small{
    font-size: 1rem;
    color: #777777;
}

.social-icon:hover{
    background-image: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.5s,ease-in-out;
}

